.nav-tabs {
  display: flex;
  gap: 24px;
  border-bottom: 2px solid #D8D6DE;
  margin-bottom: 32px;

  .nav-link {
    padding: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #7F7F7F;
    transition: 0.3s;
    padding-bottom: 22px;
    border: 0;
    background: none;
    position: relative;
    z-index: 1;
    overflow: visible;

    &:hover {
      color: #03837B;
    }

    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background: transparent !important;
      position: absolute;
      left: 0;
      bottom: -2px;
      transition: 0.3s;
      transform: none;
    }

    &.active {
      color: #03837B;

      &::after {
        background-color: #03837B !important;
      }
    }

    @include media-before(sm) {
      white-space: nowrap;
      font-size: 18px;
      line-height: 20px;
    }
  }

  @include media-before(sm) {
    flex-wrap: nowrap;
  }
}

.tabs {
  @include media-before(sm) {
    & > div:first-child {
      overflow: auto;
      width: calc(100% + 40px);
      margin-left: -20px;
      padding-left: 20px;
      padding-right: 20px;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}